@import "mixins";

body {
  font-family: "Inter", sans-serif;
  //   font-size: 16px;
  //   font-weight: 400;
  //   line-height: 1.6;
  //   color: $text-color;
  //   background-color: $background-color;
  //   margin: 0;
  //   padding: 0;
  -webkit-font-smoothing: antialiased;
}
.comforter {
  font-family: "Comforter", cursive;
}
.big-text {
  font-size: 18rem;
  font-weight: 700;

  @include respond(sm) {
    font-size: 4rem;
  }
  @include respond(md) {
    font-size: 4rem;
  }
  @include respond(lg) {
    font-size: 4rem;
  }
}
