@import "colors";
button,
.primary-btn {
  background-color: $color-black;
  color: $color-white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;

  &:hover {
    background-color: transparent;
    color: $color-black;
  }

  &:active {
    transform: scale(0.97);
  }
}

.secondary-btn {
  background-color: $color-white;
  color: $color-black;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;

  &:hover {
    background-color: transparent;
    color: $color-black;
  }

  &:active {
    transform: scale(0.97);
  }
}

.alt-btn {
  background-color: $color-alt;
  color: $color-black;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;

  &:hover {
    background-color: transparent;
    color: $color-black;
  }

  &:active {
    transform: scale(0.97);
  }
}

.rounded {
  border-radius: 9999px;
}

.blank-btn {
  background-color: transparent;
  color: $color-black;
  font-weight: bold;

  &:hover {
    color: $color-white;
  }

  &--white {
    color: $color-white;
    background-color: transparent;
  }
  &.underline {
    text-decoration: underline;
  }
}

.unset {
  all: unset; // wipes out all inherited and default styles
  display: inline; // keeps text-like behavior (optional)
  cursor: pointer;
}
