// COLORS
$color-black: #000000;
$color-charcoal: #333333;
$color-white: #ffffff;
$color-alt: #caf10a;
$color-secondary: #a2b0ed;
$color-accent: #f10a85;
// TEXT COLORS
$text-color: $color-black;
$text-light: $color-white;

// BACKGROUND COLORS
$background-color: $color-white;
$background-dark: $color-black;

$border-color: rgba(0, 0, 0, 0.1);
$shadow-color: rgba(0, 0, 0, 0.15);
