@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comforter";
  src: url("/fonts/Comforter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
